<h1> Cat Details </h1>

<body>
  <form action="/cats" method="post">
  <input type="hidden" name="_method" value="patch">
    <label for="name">Name</label>&nbsp;
    <input type="text" name="name"><br>

    <label for="sex">Sex</label>
    <% if @cat.sex == "M"%>
      M<input type="radio" name="sex" value="M" checked>
      F<input type="radio" name="sex" value="F"><br>
    <% else %>
      M<input type="radio" name="sex" value="M">
      F<input type="radio" name="sex" value="F" checked><br>
    <% end %>

    <label for="color">Color</label>
    <select id="color" name="color">
      <option <%= "selected" if @cat.color == "white" %> value="white">white</option>

      <option <%= "selected" if @cat.color == "black" %> value="black">black</option>

      <option <%= "selected" if @cat.color == "tortoiseshell" %> value="tortoiseshell">tortoiseshell</option>

      <option <%= "selected" if @cat.color == "other" %> value="other">other</option>
    </select><br>

    <label for="birth_date">Birth Date</label>
    <input type="date" name="birth_date"><br>

    <label for="description">Description</label>
    <textarea name="description" cols="30" rows="5"></textarea>

    <button>Submit Cat</button>
  </form>
</body>
