<h1> Cat Details </h1>

<body>
  <form action="/cats" method="post">
    <label for="name">Name</label>&nbsp;
    <input type="text" name="cat[name]"><br>

    <label for="sex">Sex</label>
    M<input type="radio" name="cat[sex]" value="M" checked>
    F<input type="radio" name="cat[sex]" value="F"><br>

    <label for="color">Color</label>
    <select id="color" name="cat[color]">
      <option value="default" disabled="true" selected="true">default</option>

      <option value="white">white</option>

      <option value="black">black</option>

      <option value="tortiseshell">tortiseshell</option>

      <option value="other">other</option>
    </select><br>

    <label for="birth_date">Birth Date</label>
    <input type="date" name="cat[birth_date]"><br>

    <label for="description">Description</label>
    <textarea name="cat[description]" cols="30" rows="5"></textarea>

      <input type="submit" value="Submit Cat">
  </form>
</body>
